{% extends 'vehicle/customerbase.html' %}
{% load widget_tweaks %}
{% block content %}
<head>
  <style media="screen">
    input[type=text], select,input[type=number] , textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }


  </style>


</head>



<br><br><br><br><br>
<h1 style="text-align:center;">MAKE REQUEST</h1>
<div>
  <form method="post" style="margin-left:200px;margin-right:200px;" >
      {% csrf_token %}
    <label for="category">Vehicle Category</label>
      <select name="category" id="category">
      <option value="major">Major</option>
        <option value="minor">Minor</option>
      <option value="wear and tear">Wear and Tear</option>

    </select>
    
    <br>


    <label for="vehicle_name">Vehicle Reg No.</label>
    <select name="vehicle_reg" id="vehicle_reg">
      <option value="afv8039">afv8039</option>
    </select>






    <label for="vehicle_model">Vehicle Brand & Model</label>
    <select>
      <option value="Honda XL125">Honda XL125</option>
      <option value="Lifestyle 150">Lifestyle 150 </option>
      <option value="Haojin 200">Haojin 200  </option> 
      <option value="Yamaha 125">Yamaha 125 </option>
    </select>

    <label for="problem_description">Problem Description</label>
    <textarea type="text" class="form-control" name="problem_description" > </textarea>

    <label for="pc">Provincial Coordinator</label>
    <select name="pc" id="pc">
      <option value="mmoyo">mmoyo</option>
      <option value="lmaguwu">lmaguwu</option>
      <option value="pmuzavazi">pmuzavazi</option>
      <option value="dgatsi">dgatsi</option>
      <option value="ftasara">ftasara</option>
      <option value="ntsvangirai">ntsvangirai</option>
      <option value="bmudhumo">bmudhumo</option>
      <option value="emukaronda">emukaronda</option>

    </select>

    <label for="dist">Distance Travled Since Last Service (in KM)</label>
    <input type="number" class="form-control" name="dist" />

    <label for="lab_manager">Laboratory Manager</label>
    <input type="text" class="form-control" name="lab_manager" />


    <input type="submit" value="Submit">
  </form>
</div>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



<script>

$(document).ready(function() {



  $.get("http://127.0.0.1:8000/get_bikes_data",
  {
    name: "all_bikes",
    city: "Duckburg"
  },
  function(data, status){

   //console.log(data);

		$("#vehicle_reg").empty();
		$("#theadid").empty();









		// //Try to get tbody first with jquery children. works faster!
		// var tbody = $('#tabledata').children('tbody');
		// var th = $('#tabledata').children('thead');

		// //Then if no tbody just select your table 
		// var table = tbody.length ? tbody : $('#tabledata');


		// 				table.append("  <tr><th>Request Date</th><th>Reg No.</th><th>Category</th><th>Problem</th><th>PC Approved</th><th>Reasons for Rejection</th><th>Submisions</th><th>Open for Submission</th></tr>"
					
		// 			);
    // 		$.each(data['data'], function (index, value) {




		// 			table.append('<tr><td>'
		// 				+value["date1"]+'</td><td>'
		// 				+value["vehicle_reg"]+'</td><td>'
		// 				+value["category"]+'</td><td>'
		// 				+value["problem_description"]+'</td><td>'
		// 				+value["pc_approved"]+'</td><td>'
		// 				+value["reasons"]+'</td><td>'
		// 				+value["subs"]+'</td><td>'
		// 				+value["job_open"]+'</td></tr>'
					
		// 			);



    // 		}); 




    $.each(data['data'], function(index, item) {
      //console.log(item);
        $('#vehicle_reg').append(new Option(item['reg_num'], item['reg_num']));
    });




  });


  






});







</script>

{% endblock content %}
