{% extends 'vehicle/customerbase.html' %}
{% load static %}
{% block content %}

	<!-- main content -->
	<div class="wrapper">
<style>

.cc:link {
  background-color: #3639f4;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.cc:hover {
  background-color: rgb(103, 198, 236);
}
</style>
<!-- ****** table  start ********** -->
		<header>
  <h1 class="page-title">{{ title }}</h1>
  <div class="path">{{ path }}</div>
</header>

<div class="viewport">
  <div class="container">

    <!-- Headers received from client. -->
    <div  class="table-container headers">
      <h2 style="text-align: center;">Request for {{enquiry.vehicle_reg}}</h2>
      <table class="table">
        <thead>
          <tr>
            <th> Key</th>
            <th> Value</th>
          </tr>
		  <tr><td>Vehicle Model:</td> <td>{{enquiry.vehicle_model}}</td></tr>
		  <tr><td>Vehicle Brand:</td> <td>{{enquiry.vehicle_brand}}</td></tr>
		  <tr><td colspan="2">Problem Description:</td></tr>
		  <tr> <td colspan="2" style="text-align: center;">  {{enquiry.problem_description}}</td></tr>

		  <tr><td>Date of Request:</td> <td>{{enquiry.date}}</td></tr>
		  <tr><td>Cost of The Repair:</td> <td>{{enquiry.cost}}</td></tr>
		  <tr><td>Lab Manager:</td> <td>{{enquiry.customer1}}</td></tr>
		  <tr><td>Mechanic Assigned:</td> <td>{{enquiry.mechanic}}</td></tr>
		  <tr><td>Status of Approval:</td> <td>{{enquiry.status}}</td></tr>
		  <tr><td>Provincinal Coordinator:</td> <td>{{enquiry.pc}}</td></tr>
		  <tr><td>PC Approved:</td> <td>{{enquiry.pc_approved}}</td></tr>
		  <tr><td>Finance Officer:</td> <td>{{enquiry.finance}}</td></tr>
		  <tr><td>Finance Approved:</td> <td>{{enquiry.finance_approved}}</td></tr>
		  <tr><td>Job Open for submissions:</td> <td>{{enquiry.job_open}}</td></tr>
		  <tr><td>Tehnical person:</td> <td>{{enquiry.technical}}</td></tr>
		  <tr><td>Lab Manager:</td> <td>{{enquiry.lab_manager}}</td></tr>
		  <tr><td>Lab Manager Approved:</td> <td>{{enquiry.lab_approved}}</td></tr>

		  <tr><td>Technical Person Approved:</td> <td>{{enquiry.technical_approved}}</td></tr>

		  <tr><td>Technical Person Approved:</td> <td>{{enquiry.technical_fin_approved}}</td></tr>
		  <tr><td>Supplier Submissions:</td> <td>{{enquiry.subs}}</td></tr>





        </thead>

      </table>


<hr>
	  <h2 style="text-align: center;">Selected Supplier Assessment</h2>
<hr>
	  {%if sub%}

	  <table class="table">
		<tr> <td>Supplier:</td><td>{{sub.mechanic}}</td>  </tr>
		<tr> <td colspan="2">Assessment:</td> </tr>
		<tr><td colspan="2" style="text-align: center;">{{sub.assessment}}</td>  </tr>
		<tr> <td>Quotation:</td><td><a href="static/{{sub.quotation}}">{{sub.quotation}}</a></td>  </tr>



	  </table>



	  {%else%}
	  <h3>No Submissions for this record</h3>
	  {%endif%}



<hr>
	  <h2 style="text-align: center;">Selected Supplier Service</h2>
<hr>
	  {%if service%}

	  <table class="table">
		<tr> <td>Supplier:</td><td>{{service.mechanic}}</td>  </tr>
				<tr> <td>Service Type:</td><td>{{service.service}}</td>  </tr>
		<tr> <td>Date of Completion:</td><td>{{service.doc}}</td>  </tr>
		<tr> <td>Cost of Service:</td><td>{{service.cos}}</td>  </tr>
		<tr> <td>Lab Manager:</td><td>{{service.lab_manager}}</td>  </tr>
		<tr> <td>Manager Approved:</td><td>{{service.manager_approved}}</td>  </tr>
		<tr> <td>Manager Approved Date:</td><td>{{service.manager_approved_date}}</td>  </tr>
		<tr> <td>Next Service after:</td><td>{{service.next_service}}km</td>  </tr>

		<tr> <td colspan="2" style="text-align: center;">Components Serviced:</td> </tr>
		<tr><td colspan="2" style="text-align: center;">{{service.values}}</td>  </tr>
		<tr> <td>Quotation:</td><td><a href="static/{{service.invoice}}">{{service.invoice}}</a></td>  </tr>

<tr>	  		<td colspan="2" style="text-align: center;"><form method="post" action="manager-approves-job"> 
						{% csrf_token %}   
						<input style="display: none;" type="text" name="s_id" value="{{service.id}}" />

						<textarea style="display: none;" class="form-control" name="justification" id="justification" placeholder="Enter justification for rejection"></textarea>
					<input  type="submit" class="cc" style="color: black;margin-top: 10px;" value='Approve Service' />
					</form> </td>	</tr>

	  </table>



	  {%else%}
	  <h3>No Submissions for this record</h3>
	  {%endif%}





    </div>



  </div>
</div>
{% endblock content %}
