{% extends 'vehicle/customerbase.html' %}
{% load static %}
{% block content %}

	<!-- main content -->
	<div class="wrapper">
<style>

.cc:link {
  background-color: #3639f4;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.cc:hover {
  background-color: rgb(103, 198, 236);
}
</style>
<!-- ****** table  start ********** -->
		<header>
  <h1 class="page-title">{{ title }}</h1>
  <div class="path">{{ path }}</div>
</header>

<div class="viewport">
  <div class="container">

    <!-- Headers received from client. -->
    <div  class="table-container headers">
      <h2 style="text-align: center;">Request for {{enquiry.vehicle_reg}}</h2>
      <table class="table">
        <thead>
          <tr>
            <th> Key</th>
            <th> Value</th>
          </tr>
		  <tr><td>Vehicle Model:</td> <td>{{enquiry.vehicle_model}}</td></tr>
		  <tr><td>Vehicle Brand:</td> <td>{{enquiry.vehicle_brand}}</td></tr>
		  <tr><td colspan="2">Problem Description:</td></tr>
		  <tr> <td colspan="2" style="text-align: center;">  {{enquiry.problem_description}}</td></tr>

		  <tr><td>Date of Request:</td> <td>{{enquiry.date}}</td></tr>
		  <tr><td>Mechanic Assigned:</td> <td>{{enquiry.mechanic}}</td></tr>
		  <tr><td>Status of Completion:</td> <td>{{enquiry.status}}</td></tr>
		  <tr><td>Provincinal Coordinator:</td> <td>{{enquiry.pc}}</td></tr>
		  <tr><td>Job Open for submissions:</td> <td>{{enquiry.job_open}}</td></tr>
		  <tr><td>Supplier Submissions:</td> <td>{{enquiry.subs}}</td></tr>




			 </td>

			</tr>

			       <form method="post" action="supplier-submits-request" enctype="multipart/form-data"> 

						{% csrf_token %}   
		   <tr><td colspan="2">  <textarea class="form-control" name="assess" id="assess" placeholder="enter the technical assessment done for this request" required></textarea></td></tr>
					<tr> 
						<td>
									Select to upload quotation:
						</td>
						<td>

						    <input type="file" name="myfile" class="form-control" required/>

					</td>  </tr>


						

					<tr> <td><input style="display: none;" type="text" name="r_id" value="{{enquiry.id}}" /></td> <td><input type="submit" class="cc" style="color: black;" value='Submit' /></td>  </tr>
				</form>
				



        </thead>

      </table>




    </div>



  </div>
</div>


<script>
function val() {

      var yourUl = document.getElementById("hide");
      yourUl.style.display = yourUl.style.display === 'none' ? '' : 'none';
      var yourUl1 = document.getElementById("button");
      yourUl1.style.display = yourUl1.style.display === 'none' ? '' : 'none';
  }
</script>
{% endblock content %}
